html {
  font-family: Raleway;
}

img {
  width: 30%;
  float: left;
  margin: 1.66%
}

h1 {
  margin-left: 1.66%;
  font-size: 23px;
  font-weight: 400;
  text-transform: uppercase;
  width: 30%;
  margin-bottom: -16px;
}

h2 {
  margin-left: 1.66%;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  border-bottom: 2px solid #f1f1f1;
  width: 30%;
  padding-bottom: 20px;
}

span {
  font-weight: 800;
}
